---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Mission from '../components/Mission.astro';
import Vision from '../components/Vision.astro';
import Values from '../components/Values.astro';
import Services from '../components/Services.astro';
import Gallery from '../components/Gallery.astro';
import Team from '../components/Team.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <About />
    <Mission />
    <Vision />
    <Services />
    <Gallery />
    <Values />
    <Team />
    <Contact />
  </main>
  <Footer />
</Layout>
